:root {
  --base: #fff;
  --spacing: 50px;
  --blur: 2px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(56, 55, 55);
  color: #fff;
}

h2 {
  text-align: center;
  font-size: 3rem;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 5rem auto;
}

img {
  display: block;
  height: 500px;
  width: 800px;
  border-radius: 5px;
  margin: 2rem auto;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}
